<div id="login">
  <h2>Login</h2>
  <form id="formulario" action="/login" method="POST">
    <label for="usuario">Usuario:</label>
    <input type="usuario" id="usuario" name="usuario" placeholder="Digite o username" required>

    <label for="password">Senha:</label>
    <input type="password" id="password" name="senha" placeholder="Digite a senha" required>

    <button id="entrar" type="submit">Entrar</button>
  </form>
</div>